rules_version = '2';

// The rules defined here are in addition to the rules defined in your
// `rules` property in `backend.json`. They are combined prior to deployment.
service cloud.firestore {
  match /databases/{database}/documents {
    // Functions
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Rules
    match /users/{userId} {
      allow read;
      allow write: if isOwner(userId);
    }
  }
}
